<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<div class="container" (keydown)="onKeyDown($event)">
  <div class="block" (click)="changeStep()" >
    <div class="running-text-container">
      <h1 class="running-text">
        Merry Christmas 2023
      </h1>
    </div>
    <app-snowfall></app-snowfall>
    <div class="content" [ngClass]="step >= 3 ? 'display-none' : ''">
      <div class="note1" *ngIf="step === 2">
        Gửi đến người yêu của anh. <br>
        Năm nay là năm đầu tiên mà noel mình không ở bên nhau. <br>
        Hy vọng rằng mùa tiếp theo không còn xa như bây giờ nữa <br>
        Chúc em thành công với công việc mới nè !!! <br>
        Mặc dù bây giờ công việc cũng quan trọng nhưng mà sức khoẻ <br>
        quan trọng hơn, không có anh ở đó em phải biết chăm sóc bản thân nha. <br>
        Mình cùng nhau cố gắng nhé em. <br>
        Gửi ngàn lời chúc tới em. <br>
        YÊU EM NHIỀU
      </div>
    </div>
    <div class="footer"[ngClass]="step >= 3 ? 'display-none' : ''">

    </div>
    <div class="group-image" *ngIf="step === 3" >
      <div class="content">
        <div class="image">
          <img class="image1" *ngIf="imageTime >= 2" src="../assets/image/z4999991689013_f082fe599e55e1eeaabc40c5ee2c3113.jpg" alt="">
        </div>
        <div class="image">
          <img class="image2" *ngIf="imageTime >= 1" src="../assets/image/z4999991631622_3d8b1e4eec55f5e46a0a917e3bada93b.jpg" alt="">
        </div>
        <div class="image">
          <img class="image3" *ngIf="imageTime >= 3" src="../assets/image/z4999991660331_6f01c2ca25208373ad3c9efd7e6ed82c.jpg" alt="">
        </div>
        <!-- <div class="image1">
          <img src="../assets/image/z4999991689013_f082fe599e55e1eeaabc40c5ee2c3113.jpg" alt="">
        </div> -->
      </div>
    </div>

    <div class="group-image" *ngIf="step === 4">
      <div class="content">
        <div class="image">
          <img class="image1" src="../assets/image/z4999991600474_2da1c6c9d551ec7bef509625a361b63e.jpg" alt="">
        </div>
        <!-- <div class="image">
          <img class="image2"src="../assets/image/z4999991631622_3d8b1e4eec55f5e46a0a917e3bada93b.jpg" alt="">
        </div> -->
        <div class="image">
          <img class="image3"src="../assets/image/quaemtang.jpg" alt="">
        </div>
        <!-- <div class="image1">
          <img src="../assets/image/z4999991689013_f082fe599e55e1eeaabc40c5ee2c3113.jpg" alt="">
        </div> -->
      </div>
    </div>


  </div>
</div>
